<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.lightswitch.ramdom.smeta"/>

    <bean id="pool" class="com.lightswitch.ramdom.smeta.WorkbooksPool" scope="singleton"/>
    <bean id="smetaMappings" class="com.lightswitch.ramdom.smeta.SmetaMappings" scope="singleton"/>
    <bean id="pricelistMappings" class="com.lightswitch.ramdom.smeta.PricelistMappings" scope="singleton"/>
    <bean id="pdfExporter" class="com.lightswitch.ramdom.smeta.PDFExporter" scope="singleton"/>
</beans>